# Example env file for a source to backup. Each host needs a separate <source>.env file.

POSTGRES_USER=<name>
POSTGRES_PASSWORD=<password>
POSTGRES_DATABASE=<name>

BACKUP_LOCATION=<path>

DISCORD_WEBHOOK_URL=<url>
